.tours {
  margin-top: 49.5px;
  .tours-hero {
    height: 200px;
    max-width: $nav-content-max-width;
    margin: 0 auto;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/tour/tours-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 48px;

    h1 {
      color: white;
      font: normal normal 100 60px/73px Proxima Nova ScOsf Extra Condensed;
      letter-spacing: 6px;
      text-align: center;
      padding-top: 63px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .tours {
    padding: 12px;
  }
}
